registry=https://registry.npm.taobao.org/
@attonex-private:registry=https://pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:username=build
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:_password=N2s0NGhwdW5icnd5NzdsNW9pNXppN3RwZW1idmg2aGd5bjVwaG40YnRqbXZ3dWRibGFzYQ==
//pkgs.dev.azure.com/Attonex/_packaging/Attonex/npm/registry/:email=stark.shang@outlook.com
